<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h1>Products List</h1>
        <div class="d-flex">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" clickAddProducts()">Add Products</button>
        </div>
    </div>
</nav>

<!-- <div style="overflow-x:auto;">
  <div>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Mfd Date</th>
            <th scope="col">Exp Date</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.mfdDate}}</td>
            <td>{{product.expDate}}</td>
            <td>{{product.price|currency:'INR'}}</td>
            <td [ngStyle]="product.stock>20?{'color': 'green'}:{'color': 'red'}">{{product.stock}}</td>
            <td>
                <button class="btn btn-info" (click)="onEdit(product)"  (click)="clickEditProducts()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteProducts(product)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div> -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="ProductName" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="ProductName" aria-describedby="emailHelp" formControlName="ProductName">
                </div>
                <div class="mb-3">
                  <label for="MfdDate" class="form-label">Mfd Date</label>
                  <input type="text" class="form-control" id="MfdDate" formControlName="MfdDate">
                </div>
                <div class="mb-3">
                    <label for="ExpDate" class="form-label">Exp Date</label>
                    <input type="text" class="form-control" id="ExpDate" formControlName="ExpDate">
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="Price" formControlName="Price">
                </div>
                <div class="mb-3">
                    <label for="Stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="Stock" formControlName="Stock">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProductDetails()"  class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateProductDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
 


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!--  <h4>Product Id:{{productDetail.productId}}</h4>
        <h4>Product Name:{{productDetail.productName}}</h4>
               <h4>Mfd Date:{{productDetail.mfdDate}}</h4>
               <h4>Exp Date:{{productDetail.expDate}}</h4>
               <h4>Price:{{productDetail.price}}</h4>
               <h4>Stock:{{productDetail.stock}}</h4>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<br>
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    

  
    
  
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12"  *ngFor="let product of productsList" >
        
        <div class="card" >
         
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                   <h4>Product Id:{{product.productId}}</h4>  
                   <h4>Name:{{product.productName}}</h4>                     
                   <h4>MfdDate:{{product.mfdDate}}</h4>  
                   <h4>ExpDate:{{product.expDate}}</h4>  
                   <h4>Price:{{product.price|currency:'INR'}}</h4>  
                   <h4 [ngStyle]="product.stock>20?{'text-color': 'darkgreen'}:{'color': 'red'}">Stock:{{product.stock}}</h4>  
                 
                </div>
                <div class="align-self-center"  >
                    <i  class="fa-solid fa-capsules"></i>
                  <i class="icon-book-open primary font-large-2 float-right"></i>
                </div>
              </div>
              <button class="btn btn-info" (click)="onEdit(product)"  (click)="clickEditProducts()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
              <button (click)="deleteProducts(product)" class="btn btn-danger mx-3">Delete</button>
             
            </div>
          </div>
        </div>
           <br>
      </div>
      
   
      
    </div>
  </section>
  
  <section id="stats-subtitle">


 
  
</section>
</div>


