<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!--  <header>
        <nav class="navbar navbar-expand-md bg-primary shadow-sm ">
        <div class="container-fluid" >
            <div class="navbar-brand align-item-center d-flex p-1">
                <i class="fa fa-medkit" style="font-size:35px;" aria-hidden="true">&nbsp; </i>
                <strong  style="font-size:26px;">Melbourne Medicals</strong>
                <input type="text" class="form-control" placeholder="search products" style="border-radius:4px">
                <span class="fa fa-search search-icon"></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </div>
           

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="btn btn-primary">
                    <i style="font-size:30px" class="fa fa-cart-plus"></i>
                    <div style="font-size: 10px;" class="badge bg-danger">5</div>
                </button>
            </div>
            

            
            
        </div>
    </nav>
    </header> -->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <i class="fa fa-medkit" style="font-size:30px;" aria-hidden="true">&nbsp; </i>
                <strong  style="font-size:20px;">Melbourne Medicals</strong>
                 <input type="text" class="form-control" placeholder="search products" style="border-radius:4px">
               
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <div>
                  <li class="nav-item">
                    <button class="btn btn-primary ml-auto">
                        <i style="font-size:30px" class="fa fa-cart-plus"></i>
                        <div style="font-size: 10px;" class="badge bg-danger">5</div>
                    </button>
                  </li>
                </div>

                </ul>
              </div>
            </div>
        </nav>
    </header>
</body>
</html>
